/* Reset default styles */
* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
    background-color: #d3e3ea;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: darkblue;
}

header {
    grid-area: header;
    display: flex;
    padding-bottom: 30px;
}

.logo {
    align-self: center;
    flex: 1;
    display: flex;
    justify-content: center;
}

header,
nav {
    background-color: royalblue;
    height: 40px;
}

nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

main {
    grid-area: main;
    flex: 1;
    min-height: 100vh
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: cornflowerblue;
}

img {
    display: block;
    width: 100%;
}

.logo-title {
    position: absolute;
    top: 10px;
    text-align: center;
    color: white;
}

.logo-title h1 {
    margin: 0;
}

.panel {
    border-radius: 10px;
    background-color: lightgray;
    border: 1px solid black;
    height: 100px;
    width: auto;
    padding: 10px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
}

.btn {
    color: white;
    text-decoration: none;
    background-color: royalblue;
    width: 100px;
    height: 30px;
}

.input-text {
    height: 30px;
    text-align: center;
}

span>input.input-text {
    width: 295px;
}

.feedback {
    display: none;
    border-radius: 10px;
    background-color: rgb(251, 159, 119);
    border: 1px solid black;
    width: auto;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    text-align: center;
}

[popover] {
    position: fixed;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border: 1px solid black;
}

.home-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.home-content>.left-content>h2 {
    margin: 20px 0 0 20px;
    color: darkslategrey;
}

.home-content>.left-content>.panel {
    margin-top: 20px;
}

.home-content>.left-content>p {
    padding: 10px 10px 10px 20px;
}

.page-title {
    text-align: center;
    margin-bottom: 5px;
}