#supplies-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

#supplies-form > .school-list-fields {
    align-self: center;
}

#supplies-form > span input.input-text {
    border-radius: 5px;
    border: 1px solid blue;
}

.supplies-content>table {
    width: 100%;
}

.supplies-content tr {
    text-align: center;
}

.supplies-content th,
.supplies-content td {
    padding: 15px;
}

.supplies-panel {
    border-radius: 10px;
    border: 1px solid black;
    background-color: #99bee2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 20px 20px 20px;
}

.school-list-fields {
    padding: 20px 0 20px 0;
}